extends layout.pug
block main
    .container
        h1 
            | Enter 
            u getDate?number=Int
            |  can show the result of 1+...+int in this page
        p= data
        
        